.App {
  text-align: center;
  /* background-color: lightgray; */
}
.body{
  background-color: lightgray; 
}

.card{
  
  padding:10px;
  color:black;
  text-decoration: none;
 
}
.container{
  padding: 20px;
    width: 95%;
    margin: 0 auto;
  
}
.card img{
  width:100%;
  max-height: 200px;
  min-height: 200px;

}

.title{
  margin-top: 10px;
  
}
Link{
  text-decoration: none;
}
.hover_text Link:hover{
  color:#ffa500;
}
/* .span_name{
  color: orange;
} */

.login_link{
  text-decoration: none;
  color: orange;
}
.login_page{
  width: 50%;
  margin-top: 20px;
  background-color: black;
}
.sign-in{
  background-color: orange;
  border: none;
}
.footer{
  background-color: black;
}
.user{
  color:#ffa500;
}
.address{
  color:#ffa500
}
 .content{
  min-height: 250px;
  max-height: 250px;
 }

 .text-center{
  color: white;
 }
 .login_link:hover{
  color: orange;

 }
 .sign-in:hover{
  background-color:#ffa500;
  border: none;
 }